.login-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #202d36;
}

.login-content {
    width: 100%;
    height: 70%;
}

.login-content .login-logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-content .login-logo-img {
    width: 150px;
    height: 150px;
}

.login-content .login-logo-img img {
    height: 100%;
}

.login-logo-info {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.login-logo-info h1 {
    font-weight: 500;
    font-size: 50px;
    color: #fff;
    line-height: 45px;
    letter-spacing: 1px;
}

.login-logo-info span {
    font-size: 15px;
    color: #fff;
    letter-spacing: 2px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.login-form input {
    height: 55px;
    border-radius: 8px;
    border: 1px #568589 solid;
    padding: 15px;
    font-size: 20px;
    background: #202d36;
    color: #fff;
    margin-top: 15px;
}

.login-form input::placeholder {
    color: #568589;
}

.login-form span {
    color: #7adae3;
    padding: 5px 0;
}

.login-form button {
    position: fixed;
    width: calc(100% - 40px);
    height: 55px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    background: #7adae3;
    color: #202d36;
    bottom: 30px;
}