.preload-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #202d36;
}

.preload-content {
    width: 100%;
}

.preload-content .logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.preload-content .logo-img {
    width: 150px;
    height: 150px;
}

.preload-content .logo-img img {
    height: 100%;
}

.logo-info {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}

.logo-info h1 {
    font-weight: 500;
    font-size: 50px;
    color: #fff;
    line-height: 45px;
    letter-spacing: 1px;
}

.logo-info span {
    font-size: 15px;
    color: #fff;
    letter-spacing: 2px;
}

.preload-loading {
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.preload-spinner {
    border: 6px solid #7adae3;
    border-top-color: transparent;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    animation: is-rotating 1s infinite;
    z-index: 100;
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}