* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #616161;
}

body {
  width: 100%;
  height: 100vh;
}

#confetti_canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  display: none;
  z-index: 9999999;
}

.swal2-loader {
  border-color: #7adae3 rgba(0,0,0,0) #7adae3 rgba(0,0,0,0);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 1000px;
  display: block;
}

.chart {
  padding: 10px;
}

.chart h3 {
  font-weight: 600;
  line-height: 20px;
}

.chart span {
  font-size: 15px;
  color: #8f8f8f;
}

section {
  padding: 10px;
}

.card {
  background: #fff;
  width: 100%;
  border-radius: 8px;
  box-shadow: 1px 1px 7px 1px #0000004a;
  padding: 10px;
  margin-bottom: 10px;
}

.knob-chart {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 10px;
  margin-bottom: 20px;
}

svg {
  border-radius: 50%;
  box-shadow: 2px 2px 8px 1px #00000059;
}