* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #333;
}

body {
  width: 100%;
  height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 1000px;
  /* border: 1px black solid; */
  display: block;
}

.chart {
  padding: 10px;
}