* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #616161
}

body {
  width: 100%;
  height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 1000px;
  display: block;
}

.chart {
  padding: 10px;
}

.chart h3 {
  font-weight: 600;
  line-height: 20px;
}

.chart span {
  font-size: 15px;
  color: #8f8f8f;
}

section {
  padding: 10px;
}

.inline-carts {
  display: flex;
  gap: 10px;
}

.inline-carts .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.33%;
}

.card {
  background: #fff;
  width: 100%;
  border-radius: 8px;
  box-shadow: 1px 1px 7px 1px #0000004a;
  padding: 10px;
  margin-bottom: 10px;
}

.goal-card-silver span:first-child {
  color: #afafaf;
  margin-bottom: 5px;
}

.goal-card-gold span:first-child {
  color: #ff9b00;
  margin-bottom: 5px;
}

.goal-card-diamond span:first-child {
  color: #7adae3;
  margin-bottom: 5px;
}

.goal-value {
  font-size: 15px;
}

.daily-value {
  font-size: 13px;
  color: #8f8f8f;
}

.knob-chart {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 10px;
  margin-bottom: 20px;
}

.knob-chart-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.knob-chart-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  box-shadow: 2px 2px 4px 1px #00000061;
}

.knob-chart-buttons button.active {
  border: 3px #fff solid;
}

.knob-chart-buttons button span {
  color: #fff;
}

svg {
  border-radius: 50%;
  box-shadow: 2px 2px 8px 1px #00000059;
}